<div class="stage-one-message-options" style="display:none">
  <p class="message-options-intro">Now choose your reply. Make it good!</p>
  <ul>
    <li><div class="stage-one-level-one-message">
      <a href="">
        <%= @stage_one_message_level_one.text %>
      </a>
    </div></li>

    <li><div class="stage-one-level-two-message">
      <a href="">
        <%= @stage_one_message_level_two.text %>
      </a>
    </div></li>

    <li><div class="stage-one-level-three-message">
      <a href="">
        <%= @stage_one_message_level_three.text %>
      </a>
    </div></li>
  </ul>
</div>
