<div class="stage-three-message-options" style="display:none">

  <p class="message-options-intro">Now choose your reply. Make it good!</p>

  <div class="stage-three-level-one-message">
    <a href="">
      <%= @stage_three_message_level_one.text %>
    </a>
  </div>

  <div class="stage-three-level-two-message">
    <a href="">
      <%= @stage_three_message_level_two.text %>
    </a>
  </div>

  <div class="stage-three-level-three-message">
    <a href="">
      <%= @stage_three_message_level_three.text %>
    </a>
  </div>
</div>
