<div class="message stage-two-message-level-one speech-bubble-message" style="display:none">
  <p><%= @stage_two_message_level_one.text %></p>
</div>

<div class="message stage-two-message-level-two speech-bubble-message" style="display:none">
  <p><%= @stage_two_message_level_two.text %></p>
</div>

<div class="message stage-two-message-level-three speech-bubble-message" style="display:none">
  <p><%= @stage_two_message_level_three.text %></p>
</div>
