<div class="message stage-two-reply-level-one speech-bubble-reply" style="display:none">
  <p><%= @stage_two_reply_level_one.text %></p>
</div>

<div class="message stage-two-reply-level-two speech-bubble-reply" style="display:none">
  <p><%= @stage_two_reply_level_two.text %></p>
</div>

<div class="message stage-two-reply-level-three speech-bubble-reply" style="display:none">
  <p><%= @stage_two_reply_level_three.text %></p>
</div>
