<div class="win-game" style="display:none">
  <h2>You are not boring!</h2>
  <p>You managed to have a conversation with the chatbot without boring her to death.</p>
  <p><a href="/">Play Again?</a></p>
</div>
