/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require normalize-rails
 *= require_tree .
 *= require_self
 */


.sign-in-area {
  text-align: center;
  vertical-align: middle;
  margin: auto;
  width: 70%;
  padding: 10px;
}

.login-form {
  text-align: center;
  margin: auto;
  width: 30%;
  padding: 10px;
}

.sign-in-area a {
  text-align: center;
  vertical-align: middle;
  line-height: 2em;
  display: inline-block;
  width: 6em;
  height: 2em;
  background-color: #EEEEEE;
  color: #333333;
  text-decoration: none;
  padding: 5px 5px 5px 0.5em;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

.sign-in-area h1 {
  text-align: center;
}

#new_user input[type="submit"] {
  text-align: center;
  vertical-align: middle;
  line-height: 1em;
  display: inline-block;
  width: 8em;
  height: 1.5em;
  background-color: #EEEEEE;
  color: #333333;
  text-decoration: none;
  padding: 5px 5px 5px 0.5em;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  margin-bottom: 1em;
}

header {
  height: 3em;
  background-color: #F5F5F5;
  width: 100%;
}

header ul {
  list-style-type: none;
  vertical-align: middle;
  line-height: 3em;
  margin: 0;
  /*padding-left: 1em;*/
  font-size: 1em;
}

header ul li {
  display: inline;
  list-style-type: none;
  margin-right: 1em;
  font-size: 0.8em;
}

header ul li a {
  vertical-align: middle;
  line-height: 2em;
  font-family: arial;
  text-decoration: none;
  color: #00BFFF;
}

.logo a {
  vertical-align: middle;
  line-height: 0.5em;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 2em;
}

#admin-area {
  float: right;
  margin-right: 2em;
}

main {
  font-family: "Anton";
  width: 100%;
  display: table;
  position: absolute;
  height: 80%;
}

main > div {
  padding-left: 2.5em;
  display: table-cell;
  vertical-align: middle;
}

h1 {
  font-family: 'Merriweather';
  color: #696969;
  width: 100%;
  float:left;
}

.message {
  float: right;
  padding-right: 5em;
}

.message-area {
  width: 50%;
  height: 10px;
}

.chat-area {
  padding-top: 1em;
  width: 50%;
  position: relative;
  float: right;
}

.speech-bubble-message {
  width: 200px;
  padding-top: 0em;
  padding-bottom: 0em;
  padding-left: 2em;
  padding-right: 2em;
	position: relative;
	background: #2ab4f6;
	border-radius: .4em;
  margin-right: 4em;
  margin-top: 1em;
}

.speech-bubble-message p {
  display: inline-block;
  color: white;
  font-weight: bold;
  font-family: "Dosis"
}

.speech-bubble-message:after {
	content: '';
	position: absolute;
	left: 0;
	width: 0;
	height: 0;
  border: 0.406em solid transparent;
  	border-right-color: #00aabb;
  	border-left: 0;
  	border-bottom: 0;
  	margin-top: 2.15em;
  	margin-left: -0.406em;
}

.speech-bubble-reply {
  width: 200px;
  padding-top: 0em;
  padding-bottom: 0em;
  padding-left: 2em;
  padding-right: 2em;
	position: relative;
	background: #eaeaea;
	border-radius: .4em;
  margin-top: 1em;
  margin-right: 4em;
}

.speech-bubble-reply p {
  display: inline-block;
  color: #6b6b6b;
  font-weight: bold;
  font-family: "Dosis"
}

.speech-bubble-reply:after {
  content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 0.406em solid transparent;
	border-left-color: #eaeaea;
	border-right: 0;
	border-bottom: 0;
	margin-top: 0.6em;
	margin-right: -0.406em;
}
